[submodule "code/src/ext/glm"]
	path = code/src/ext/glm
	url = https://github.com/g-truc/glm.git
[submodule "code/src/ext/glew-cmake"]
	path = code/src/ext/glew-cmake
	url = https://github.com/Perlmint/glew-cmake.git
[submodule "code/src/ext/freeglut"]
	path = code/src/ext/freeglut
	url = https://github.com/freeglut/freeglut.git
[submodule "code/src/ext/DevIL"]
	path = code/src/ext/DevIL
	url = https://github.com/DentonW/DevIL.git
